<div class="fz">
  <h1 class="center">{{movieDetails.original_title}}</h1>
  <div class="flex">
    <img src="https://image.tmdb.org/t/p/w300{{movieDetails.poster_path}}" alt="">
    <div>
      <h3>{{movieDetails.overview}}</h3>
      <img class="img" src="https://image.tmdb.org/t/p/w300{{movieDetails.backdrop_path}}" alt=""><br>
      <form class="rate" (click)="checkStar($event)">
        <input type="radio" id="star5" name="rate" value="5"/>
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4"/>
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3"/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2"/>
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1"/>
        <label for="star1" title="text">1 star</label>
      </form>
      <div class="center-text">Popularity:{{movieDetails.popularity}}<br>
        Release Date:{{movieDetails.release_date}}<br>
        Runtime:{{movieDetails.runtime}}<br>
        Vote Average:{{movieDetails.vote_average}}<br>
      </div>
      <span class="text">Genres:</span><br>
      <span class="text" *ngFor="let genre of genres">{{genre.name}}</span>
      <br>
    </div>
  </div>
</div>
