* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  background-color: #8509e7;
  height: 40px;
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}
