<ul class="pagination">
  <li><a routerLink="movies/{{x}}" (click)="dec()">«</a></li>
  <li><a routerLink="movies/1" (click)="state()">1</a></li>
  <li><a routerLink="movies/2" (click)="state()">2</a></li>
  <li><a routerLink="movies/3" (click)="state()">3</a></li>
  <li><a routerLink="movies/4" (click)="state()">4</a></li>
  <li><a routerLink="movies/5" (click)="state()">5</a></li>
  <li><a routerLink="movies/6" (click)="state()">6</a></li>
  <li><a routerLink="movies/7" (click)="state()">7</a></li>
  <li><a routerLink="movies/{{x}}" (click)="inc()">»</a></li>
</ul>
